.strong {
  font-size: 3rem;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contents {
  width: 800px;
  height: 190px;
  border: 1px solid black;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 250px;
}
.contents-box {
  padding: 15px;
  background-color: gray;
  z-index: 99;
}
.margin-top {
  margin-top: 13px;
}
.first-box {
  display: flex;
  justify-content: space-between;
  width: 1500px;
  border: 3px solid black;
}
.my-left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 800px;
  padding-right: 15px;
  background-color: white;
  border: 2px solid black;
  flex-direction: column;
}
.second-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid black;
  background-color: rgb(235, 127, 127);
}
.second-box-contents {
  width: 1000px;
}
