#b-searchArea {
  display: none;
}

.contents-container {
  background-color: rgba(0, 0, 0, 0);
  min-height: 800px;
}

.row {
  padding-left: 0;
  box-sizing: border-box;
  position: relative;
  width: var(--pc-container);
  margin: 70px auto 0;
}
/*컨텐츠 로우영역*/

table {
  table-layout: fixed;
  width: 100%;
  position: relative;
}

.path li:first-child {
  background: none;
  padding-left: 0;
}
.path li {
  float: left;
  padding: 0 15px;
  color: #000;
  font-size: 16px;
  background: url(//img.echosting.cafe24.com/skin/base/layout/ico_path.gif)
    no-repeat 0 10px;
}

.product-menuCategory {
  text-align: right;
  display: Table;
  table-layout: fixed;
  border: 0;
  margin: 8px auto;
  padding: 0px 0px;
  width: 100%;
  position: relative;
}
.product-menuCategory li.cate-btit {
  font-size: 43px;
  color: #333;
  margin: 0 50px 0 0;
  float: left;
}
.product-menuCategory li.cate {
  display: inline-block;
  width: auto;
  margin: 20px 30px;
  height: auto;
  line-height: 1.6;
}
.product-menuCategory li a {
  font-size: 20px;
  border: 0;
  padding: 0;
  height: auto;
  line-height: 1.6;
  padding: 20px 0;
  color: #000;
  font-weight: 600;
}
/*.product-menuCategory*/

.searchArea th {
  width: 137px;
  padding: 20px 10px;
  border-top: 1px solid #ececec;
  font-size: 16px;
  color: #3c3c3c;
  text-align: left;
  text-transform: uppercase;
  vertical-align: middle;
  background: #f6f6f6;
  text-align: center;
  font-weight: 400;
  margin: 0 auto 30px;
}

.searchArea tr td {
  padding: 20px 10px;
  border-top: 1px solid #ececec;
  font-size: 16px;
  color: #3c3c3c;
}

.searchArea tr td:last-child {
  border-right: 1px solid #ececec;
}
.searchArea tr td .hashbtn {
  color: 525252;
  font-size: 16px;
  padding: 0 7px;
}
/*searchArea*/

.prdCount {
  position: relative;
}
.prdCount p {
  display: inline-block;
  float: left;
}
.prdCount .pro-order {
  display: inline-block;
  float: right;
}

.prdCount .pro-order {
  position: absolute;
  right: 0;
  top: -10px;
  width: 260px;
  border-bottom: 1px solid #e0e0e0;
  z-index: 9;
  background: url(/images/arrow-bg.png) no-repeat 90% center;
}

.prdCount .pro-ortit {
  font-size: 16px;
  color: #777;
  padding: 0 10px;
  line-height: 40px;
  cursor: pointer;
  padding: 0 10px;
}
/*prd-count*/
.categoryhashtag {
  position: relative;
}
.categoryhashtag p {
  display: inline-block;
}
.categoryhashtag a {
  display: inline-block;
}
/*categoryhashtag*/
.product-menupackage {
  margin: 0 auto 40px;
}
/*.product-menupackage*/

.categoryhashtag {
  position: relative;
}
.categoryhashtag .heading {
  display: inline-block;
  padding: 5px 25px;
  color: #202020;
  font-weight: normal;
  /*스트롱 디폴트 볼드로 처리되어있음.*/
  border-radius: 10px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 10px;
  background: #f7f7f7;
  white-space: nowrap;
  margin-right: 15px;
  vertical-align: middle;
  font-size: 14px;
}
.categoryhashtag .list {
  display: inline-block;
  width: auto;
  vertical-align: middle;
  font-size: 0;
  line-height: 0;
}
.categoryhashtag li {
  display: inline-block;
  vertical-align: middle;
}
.categoryhashtag li a {
  display: inline-block;
  color: #484848;
  font-size: 15px;
  padding: 0 13px;
}
/*categoryhashtag*/
path {
  padding: 0 70px;
  overflow: hidden;
  line-height: 30px;
  display: block;
}

.searchArea {
  border-top: 0;
  position: relative;
  padding-bottom: 10px;
  border-bottom: 1px solid #ececec;
}

.prsear-btn {
  height: 45px;
  border-top: 1px solid #ececec;
}

.cout-cell {
  margin-top: 30px;
  margin-bottom: 45px;
  padding: 10px 0;
  vertical-align: middle;
}

.categoryhashtag {
  margin-top: 15px;
}

.product-list {
  width: 100%;
}
/*각 영역들*/
.grid4 > li {
  width: 24.73%;
  padding: 8px;
  position: relative;
  display: inline-block;
  margin: 0 0 30px;
  color: #757575;
  vertical-align: top;
  box-sizing: border-box;
}
.product-list .prdList .thumbnail {
  position: relative;
  margin: 0 auto;
  text-align: center;
}

.prd-hover {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background: Rgba(0, 0, 0, 0.5);
  opacity: 0;
}

.prd-hover:hover {
  transition: all 0.5s ease;
  opacity: 1;
}

.prd-hover .ho-button {
  margin-top: 10px;
  border: 1px solid #c5c5c5;
  display: Table;
  width: 100%;
  table-layout: fixed;
  height: 50px;
}

.detail-btn a,
.cart-btn {
  font-size: 14px;
  color: #fff;
  text-align: Center;
  display: block;
}

.prd-hover .ho-button .ho-icon {
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  margin-top: -2px;
}

.prd-hover .ho-button .cart-btn {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: table-cell;
  vertical-align: middle;
  cursor: pointer;

  border-right: 1px solid #fff;
}
.prd-hover .ho-button .cart-btn:hover {
  background-color: var(--main-orange);
}
.prd-hover .ho-button .cart-btn img {
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
  padding-top: 4px;
}

.prd-hover .ho-button .detail-btn {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: table-cell;
  vertical-align: middle;
  cursor: pointer;
}
.prd-hover .ho-button .detail-btn:hover {
  background-color: var(--main-orange);
}
.prd-hover .ho-button .detail-btn img {
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
  padding-top: 4px;
}

.prdList .description {
  margin: 0 auto;
  padding: 10px 0 15px;
  text-align: left;
  position: relative;
}

.prdList .eng-name {
  letter-spacing: 0;
  color: #aaa;
  font-size: 16px;
}

.prdList .name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #444;
  font-size: 18px;
  text-align: left;
}

.prdList .eng-name span {
  font-size: 12pz;
}

.prdList .prd-pri {
  font-size: 24px;
  font-weight: 600;
  text-align: left;
  position: relative;
}

.prdList .prd-pr {
  margin-right: 5px;
  color: #000;
}

.prdList .prd-pri em {
  font-size: 60%;
  font-style: normal;
}

.prdList .prd-pr + .prd-de {
  text-decoration: line-through;
}

.prdList .prd-de {
  color: #b6b6b6;
  font-size: 65%;
  font-weight: 400;
}

.prdList .prd-per {
  color: #f1592a;
  position: absolute;
  right: 7px;
  bottom: 2px;
  font-size: 60%;
}
/*상품리스트 카드형 한칸*/
@media (max-width: 1444px) {
  .row {
    width: 90%;
  }
  .prsear-btn {
    height: 35px;
  }
  /*카드형*/
  .grid4 > li {
    width: 33%;
  }
}
@media (max-width: 1000px) {
  .prdCount .pro-order {
    width: 240px;
  }
}
@media (max-width: 852px) {
  .path {
    display: none;
  }
  table {
    display: none;
  }
  .product-menuCategory {
    display: flex;
    justify-content: center;
  }
  .product-menuCategory li.cate-btit {
    display: block;
    margin-right: 0;
  }
  .product-menuCategory li.cate {
    display: none;
  }
  #b-searchArea {
    position: absolute;
    display: inline-block;
    top: -40px;
    right: 0;
    border: 0;
    height: 38px;
    font-family: inherit;
    color: #fff;
    width: 31%;
    background: #eb5112;
  }
  .btnSearchdata {
    width: 100%;
    height: 38px;
    color: #fff;
    font-size: 14px;
  }
  .btnSearchdata:before {
    content: "";
    width: 12px;
    height: 16px;
    background: url(/images/m_icon_sort.png) center center no-repeat;
    background-size: 100%;
    display: inline-block;
    vertical-align: -3px;
    margin-right: 4px;
  }
  .grid4 > li {
    width: 49.4%;
  }
  .prdList .eng-name {
    font-size: 11px;
  }
  .prdList .name {
    font-size: 14px;
  }
  .prdList .prd-pri {
    font-size: 15px;
  }
  .prdList .prd-per {
    right: 0;
  }
  .categoryhashtag .heading {
    font-size: 12px;
    padding: 2px 11px 2px 11px;
    margin-right: 0;
  }
  .categoryhashtag li a {
    font-size: 12px;
  }
  .prdCount .pro-order {
    width: 65%;
    height: 38px;
    border: 1px solid #e0e0e0;
    top: -40px;
    left: 0;
    padding: 0 20px 0 0;
  }
  .prdCount .cNotice {
    margin-top: 30px;
    font-size: 14px;
  }
  .prdCount .pro-ortit {
    font-size: 14px;
  }
  .categoryhashtag {
    margin-top: 0;
  }
}
