.strong {
  font-size: 3rem;
}
.strong1 {
  font-size: 1.5rem;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contents {
  width: 800px;
  height: 190px;
  border: 1px solid black;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 250px;
}
.contents-box {
  padding: 15px;
  background-color: gray;
  z-index: 0.5;
}
.margin-top {
  margin-top: 13px;
}
.first-box {
  display: flex;
  justify-content: space-between;
  width: 1500px;
  border: 3px solid black;
}
.hidden {
  display: none;
}
.my-left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 800px;
  padding-right: 15px;
  background-color: white;
  border: 2px solid black;
  flex-direction: column;
}
.second-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid black;
}
.second-box-contents {
  display: flex;
  align-items: center;
  margin-left: 15px;
  margin-right: 800px;
  width: 1000px;
}
@media screen and (max-width: 1318px) {
  .first-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .contents {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-right: 0;
  }
  .hidden {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: block;
  }
  .hidden-contents1 {
    border-top: 1px solid gray;
  }
  .hidden-contents1 ul {
    list-style: none;
  }
  .hidden-contents1 li {
    float: left;
    margin-right: 15px;
  }
  .ul-list {
    width: 100%;
    margin-top: 15px;
  }
  .ul-space{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
  }
  .hidden-contents4 {
    display: flex;
    justify-content: space-between;
    background-color: burlywood;
  }
  .contents-box {
    width: 100%;
    height: 100px;
  }
  .my-left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
  }
  .second-box {
    flex-direction: column;
  }
  .second-box-contents {
    width: 100%;
    display: flex;
    height: 200px;
    align-items: flex-start;
    background-color: rgb(235, 127, 127);
    margin: 0;    
    border: 1px solid black;
  }
}
