.contents-area-padding {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.supplier-main-con {
  padding: 0 10px;
  margin: 50px 0 140px 0;
  flex-direction: column;
  width: var(--pc-container);
}

.add-item-page-title {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  font-size: 1.7rem;
  font-family: "IBMPlexSansKR-SemiBold";
  color: rgba(36, 36, 36, 0.932);
}

.img-upload-area {
  width: 100%;
  height: 100%;
  display: flex;
  color: gray;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.15s ease-in-out;
  outline: 1px solid #ddd;
  background-color: rgb(255, 247, 242);
}

.img-upload-area p {
  text-align: center;
}

.img-upload-area .upload-btn-con {
  width: 100%;
  display: flex;
  justify-content: center;
}

.img-upload-area label {
  display: flex;
  justify-content: center;
  background-color: rgb(255, 201, 170);
  position: relative;
  margin-top: 10px;
  overflow: hidden;
  padding: 5px 0px;
  width: 80%;
  border-radius: 4px;
  border: 2px solid var(--main-orange);
  transition: 0.2s;
}

.img-upload-area label:hover {
  color: white;
  background-color: var(--main-orange);
}

.img-upload-area .upload-btn-con input[type="file"] {
  width: 1px;
  height: 1px;
  position: absolute;
  opacity: 0;
  top: -100px;
}

.add-item-contents {
  display: flex;
  flex-wrap: nowrap;
}

.add-item-info:nth-child(1) {
  position: relative;
  display: flex;
  flex-shrink: 0;
  flex-basis: 46%;
  min-height: 450px;
  height: 0px;
}

.add-item-info:nth-child(1) button:not(.img-remove-btn){
  position: absolute;
  bottom: -80px;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: var(--main-orange);
  color: white;
  font-family: "IBMPlexSansKR-Regular";
  font-size: large;
  border-radius: 10px;
}

.uploaded-img-con {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.uploaded-img {
  outline: 1px solid #ddd;
}

.uploaded-img:nth-child(1):not(.img-upload-area) {
  position: relative;
  background-position: center;
  background-size: cover;
  width: calc(100% / 1.38);
  flex-basis: 100%;
}

.uploaded-img:not(.uploaded-img:nth-child(1)) {
  transition: 0.2s;

  position: relative;
  background-position: center;
  background-size: cover;
  width: calc(100% / 3.7);
  flex-basis: 25%;
}

.uploaded-img:not(.uploaded-img:nth-child(1)):hover {
  z-index: 4;
  box-shadow: 0px 0px 10px 1px var(--main-orange);
}

.add-item-info:nth-child(2) {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 54%;
  padding-left: 60px;
}

.info-input-group {
  position: relative;
  display: flex;
  flex-direction: column;
}

.info-input-group label {
  transition: 0.2s;
  position: absolute;
  top: 0;
  left: 0;
  font-size: large;
}
.info-input-group input[type="text"] {
  margin-bottom: 55px;
  font-size: x-large;
  outline: none;
  border-left: none;
  border-right: none;
  border-top: none;
}

.info-input-group input[type="text"]:focus {
  border-bottom: 2px solid orangered;
}

.info-input-group label.error {
  color: rgb(255, 0, 21);
}

.img-remove-btn {
  display: none;
  position: absolute;
  right: 5px;
  top: 5px;
  font-weight: bold;
  font-size: 17px;
  color: rgb(116, 116, 116);
  background-color: rgb(240, 240, 240);
  border: 1px solid rgb(184, 184, 184);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  transition: 0.2s;
}

.img-remove-btn:hover {
  background-color: rgb(206, 206, 206);
}

.uploaded-img:hover .img-remove-btn {
  display: block;
}

.choos-color-container,.choos-size-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  padding: 10px 0;
  border: 1px dotted gray;
}

.choos-color-container input[type="color"] {
  position: absolute;
  opacity: 0;
}

.choos-color-container input[type="text"] {
  position: relative;
  top: 4px;
  font-size: large;
  outline: none;
  width: 100%;
  border-left: none;
  border-right: none;
  border-top: none;
}

.choos-size-container input[type="text"] {
  position: relative;
  margin-left:10px ;
  top: 4px;
  font-size: large;
  outline: none;
  width: 100%;
  border-left: none;
  border-right: none;
  border-top: none;
}

.add-color-option,.add-size-option {
  margin-right: 10px;
  margin-left: 10px;
  min-width: 35px;
  width: 35px;
  height: 35px;
  font-size: large;
  border-radius: 50%;
  color: gray;
  background-color: rgb(241, 241, 241);
  transition: 0.2s;
}
.add-color-option:hover {
  color: var(--main-orange);
  background-color: #ddd;
}
.add-size-option:hover {
  color: var(--main-orange);
  background-color: #ddd;
}
.color-option-container,.size-option-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}



.input-color-title,.input-size-title {
  position: relative;
  top: -3px;
  font-size: large;
}
.choos-color {
  color: white;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  background: gray;
  margin: 3px 10px;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid gray;
  width: 35px;
  height: 35px;
  min-width: 35px;
  min-height: 35px;
}
.choos-color:hover {
  color: rgb(70, 70, 70);
}

.dialog {
  display: none;
}

.dialog-on .dialog {
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.596);
}
#detailImgUpload {
  opacity: 0;
}
#dialogCloseBtn, .detail-img-del-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: rgb(97, 97, 97);
    background-color: rgb(231, 230, 230);
    transition: .2s;
}

#dialogCloseBtn:hover,.detail-img-del-btn:hover {
  color: rgb(255, 255, 255);
  background-color: var(--main-orange);
}
.after .upload-detail-img{
  justify-content: flex-start;
}
.after .upload-util {
  display: none;
}
.upload-util {
  width: 100%;
  height: 100%;
   flex-direction: column;
  color: rgb(71, 71, 71);
  font-size: large;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.upload-detail-img {
  position: relative;
  flex-direction: column;
  /* color: rgb(71, 71, 71); */
  /* font-size: large; */
  display: flex;
  /* text-align: center; */
  justify-content: center;
  align-items: center;
  width: 1100px;
  min-height: 500px;
  max-height: 90vh;
  overflow-y: auto;
  border-radius: 10px;
  background-color: white;
}
.upload-util .detail-img-btn {
  background-color: var(--main-orange);
  padding: 10px 20px;
  font-size: medium;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.233);
  color: white;
  font-family: "IBMPlexSansKR-Regular";
  margin: 10px 0;
  border-radius: 5px;
  transition: .2s;
}
.upload-detail-img .detail-img-btn:hover {
  background-color: rgba(240, 240, 240, 0.596);
  color: rgb(66, 66, 66);
  box-shadow: 0px 0px 10px 1px var(--main-orange);

}
.uploaded-detail-img {
  /* display: none; */
}
.after .uploaded-detail-img  {
  position: relative;
  width: 770px;
  background-color: rgba(165, 42, 42, 0.137);
  border: 1px double var(--main-orange);

}

#appendDetailImg {
  display: flex;
  justify-content: center;
}

@media (max-width: 1320px) {
  .supplier-main-con {
    width: 100%;
  }
  .add-item-info:nth-child(2) {
    padding-right: 20px;
  }
}
@media (max-width: 1100px) {
  .add-item-info:nth-child(1) {
    height: 490px;
  }

  .img-upload-area {
    font-size: 12px;
  }
  .add-item-info:nth-child(1) button:not(.img-remove-btn){
    bottom: -130px;
  }
  #appendDetailImg {
    margin-top: 80px;
  }

  .uploaded-img-con {
    padding: 5px;
    /* flex-basis: 100%; */
    flex-direction: row;
  }

  .uploaded-img:nth-child(1) {
    width: 100%;
    height: calc(100% / 1.2);
  }

  .uploaded-img:not(.uploaded-img:nth-child(1)) {
    width: 100%;
    height: calc(100% / 3.5);
  }

  .add-item-info:nth-child(2) {
    flex-shrink: 0;
  }
}
@media (max-width:1000px) {
  .after .uploaded-detail-img  {
    width: 80%;
  }
}
@media (max-width: 960px) {
  .add-item-info:nth-child(1) {
    justify-content: center;
    flex-basis: auto;
    height: 530px;
  }

  .uploaded-img-con {
    width: 450px;
  }

  .uploaded-img:nth-child(1) {
    height: calc(100% / 1.3);
  }

  .uploaded-img:not(.uploaded-img:nth-child(1)) {
    height: calc(100% / 4.5);
  }

  /* .img-upload-area {
    height: 300px;
  } */

  .add-item-info:nth-child(2) {
    margin-top: 180px;
    padding: 0 20px;
  }
  .add-item-contents {
    flex-direction: column;
  }
  #appendDetailImg {
    margin-top: 0px;
  }
}
@media (max-width: 699px) {
  .add-item-info:nth-child(1) {
    height: 490px;
  }
  .add-item-info:nth-child(2) {
    margin-top: 180px;
    padding: 0 10px;
  }
}

@media (max-width: 500px) {
  .uploaded-img-con {
    width: 97%;
  }
}
