/* <table class="customStyle-table">
        <thead class="thead">
            <tr>
                
                <th>ooooo</th>
                <th>XXXXX</th>
                <th>OOOOO</th>
            </tr>
        </thead>
        <!-- row-hover추가시 마우스 오버 색상전환효과    >>  <tbody class="row-hover">  <<  -->
        <tbody class="row-hover">
            
            <tr>
                <td>가나다라</td>
                <td>가나다라</td>
                <td>가나다라</td>
            </tr>
            
        </tbody>
        <tfooter>
        <tr>
                <td>foooter</td>
                <td>foo0000oter</td>
                <td>foooterrrr</td>
            </tr>
        </tfooter>

    </table> */

    /* 위에 사용 예시(복붙해서 사용해보세요~) */

.customStyle-table {
    width: 100%;
    background-color: white;
    text-align: center;
}

.customStyle-table .thead {
    border-top: 2px solid var(--main-orange);
}
.customStyle-table .thead th {
    padding: 15px;
}

.customStyle-table tr {
    border-bottom: 1px solid #ddd;
}

.customStyle-table td {
    padding: 10px;
}

input[type=checkbox] {
    position: relative;
    top: 3px;
    width: 18px;
    height: 18px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-appearance: none;
    background-image: url('../../comm-images/checkbox/check_off.png');
    cursor: pointer;
}

input[type=checkbox]:checked {
    cursor: pointer;
    background-image: url('../../comm-images/checkbox/check_on.png');
}

.row-hover tr:hover {
    background-color: rgb(243, 243, 243);
    cursor: pointer;
}