.customStyle-table {
    width: 100%;
    background-color: white;
    text-align: center;
}

.customStyle-table .thead {
    border-top: 2px solid var(--main-orange);
}
.customStyle-table .thead th {
    padding: 15px;
}

.customStyle-table tr {
    border-bottom: 1px solid #ddd;
}

.customStyle-table td {
    padding: 10px;
}

input[type=checkbox] {
    position: relative;
    top: 3px;
    width: 18px;
    height: 18px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-appearance: none;
    background-image: url(../images/checkbox/check_off.png);
    cursor: pointer;
}

input[type=checkbox]:checked {
    cursor: pointer;
    background-image: url(../images/checkbox/check_on.png);
}

.row-hover tr:hover {
    background-color: rgb(243, 243, 243);
    cursor: pointer;
}