.info-input-group {
  position: relative;
  display: flex;
  flex-direction: column;
}

.info-input-group label {
  transition: 0.2s;
  position: absolute;
  top: 0;
  left: 0;
  font-size: large;
}
.info-input-group input[type="text"] {
  margin-bottom: 55px;
  font-size: x-large;
  outline: none;
  border-left: none;
  border-right: none;
  border-top: none;
}

.info-input-group input[type="text"]:focus {
  border-bottom: 2px solid orangered;
}

.info-input-group label.error {
  color: rgb(255, 0, 21);
}
