@media screen and (max-width: 1195px) {
  .ing-event {
    flex-wrap: wrap;
  }
  .over-event {
    flex-wrap: wrap;
  }
  .img-box {
    width: 600px;
    height: 400px;
  }
  .img__text {
    display: none;
  }
}
