.container-box {
  width: var(--pc-container);
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.event-text {
  font-size: 1.5rem;
}

.ing-event {
  display: flex;
}
.img-box {
  width: 400px;
  height: 200px;
  border: 1px solid black;
}
.img__text {
  width: 430px;
  text-align: center;
}
.event-explanaiton {
  width: 100%;
}
